@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700'); 

/* --------------------Colours */

.bg-color-name-title{
    background-color: #676767;
}

.bg-color-three-reasons{
    background-color: #ffffff;
}

.bg-color-personal-info{
    background-color: #f4f4f4;
}

.ui-menu-color-home{
    background-color: #e67e22;
}

.ui-menu-color-resume{
    background-color: #9b59b6  ;
}

.ui-menu-color-contact{
    background-color: #3498db;
}

.ui-menu-color-download{
    background-color: #525252;
}

/* --------------------Special paddings/margins/text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block{
    display: inline-block;
}

.row-table{
    display: table;
}

.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* --------------------Heading */

header{
    margin: 0;
}

.heading{
    margin-left: 50px;
}

.logo{
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name{
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

/* Removes whitespacing between inline items */
.menucontainer{
    font-size: 0;
}

#nav{
    margin: 0; /* Removes margin at the bottom of our UL */
}

/* Overrides the font size implications in the menucontainer */
#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i{
    padding-top: 22px;
    display: block; /* Icon will appear on a line of it's own */
    color: #fafafa;
    font-size: 26px;
}

.menuitem span{
    display: block;  /* Will appear on a line of it's own */
    width: 100%; /* Goes the full width of the parent DIV */
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;  /* Slightly thinner than the standard font weight */
    letter-spacing: 2px;
}

/* --------------------Hover.css */
/* Before pseudo element is where the background colour is set  */
.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2) !important; /* Important is making sure that this is being applied! */
    height: 120px !important;
}

/* --------------------Footer*/

footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i{
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out; /* transition applied to parent element and acts the same as a hover pseudo class */
    -moz-transition: all 0.35s ease-in-out; /* vendor prefix included (Mozilla) */
    -webkit-transition: all 0.35s ease-in-out; /* vendor prefix included (Webkit) */
    -o-transition: all 0.35s ease-in-out; /* vendor prefix included (Opera) */
    /*The transition properties defined in the .cv-pdf i class will smoothly animate any changes applied to the child <i> elements
     when they are hovered over. In this case, when the hover state is triggered, the color change to #e84610 will animate smoothly
      over 0.35 seconds.*/
}

.cv-pdf i:hover{
    color: #e84610
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%; /* If you set the border-radius to 50% when something has equal height and width, then you get a circle. */
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out; /* transition applied to parent element and acts the same as a hover pseudo class */
    -moz-transition: all 0.35s ease-in-out; /* vendor prefix included (Mozilla) */
    -webkit-transition: all 0.35s ease-in-out; /* vendor prefix included (Webkit) */
    -o-transition: all 0.35s ease-in-out; /* vendor prefix included (Opera) */
    /*The transition properties defined in the .cv-pdf i class will smoothly animate any changes applied to the child <i> elements
     when they are hovered over. In this case, when the hover state is triggered, the color change to #e84610 will animate smoothly
      over 0.35 seconds.*/
}

.social-links li a i:hover{
    background-color: #e84610;
}

#footer-details{
    padding: 20px;
}

/* --------------------Three Reasons */

.three-reasons-icon{
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading{
    margin-bottom: 15px;
}

/* --------------------Personal Info */

.personal-info-item{
    /* We want it to take up the maximum horizontal space available and push its siblings down below it. */
    margin-bottom: 20px;
    display: block;  /* Will start and end with a newline and occupy the entirety of the horizontal space. */
    clear: both; /* No other items can appear at either side of it in case we were using floats. */    
}

.personal-info-item .key,
.personal-info-item .value{
    padding-right: 8px;
    display: inline-block;
    /* Remember that a <div> is a block level element by default, 
    which means it starts and ends with a new line and occupies the maximum horizontal space available.
    An inline block on the other hand allows us to put two divs side-by-side, and that's what we want to do here. */
}

.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;  /* Set the margin to 0 so that we can deal with the margins outside of our personal info item paragraph. */
}

.personal-info-item .key{
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;  /* Set the vertical-align to top so that it hugs the top of the <div> as much as possible. */
}

.personal-info-item .key p{
    font-weight: 700;
}

.personal-info-item .value{
    position: relative;  /* relative to its predecessor */
    width: 60%;
}